.section {
	padding: 16px 0;
}

@media screen and (min-width: 768px) {
	.section {
		padding: 32px 0;
	}
}

@media screen and (min-width: 1440px) {
	.section {
		padding: 48px 0 80px;
	}
}

.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media screen and (min-width: 1440px) {
	.main {
		gap: 28px;
	}
}

.list {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 200px;
	gap: 18px;
}

@media screen and (min-width: 768px) {
	.list {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		gap: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.list {
		grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
		grid-auto-rows: 312px;
		gap: 48px;
	}
}

.listItem {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: var(--shadow-main);
	overflow: hidden;
	cursor: pointer;
}

.listItem:hover .listImage {
	transform: scale(1.05);
}

.listImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform var(--animation-cubicBezier);
}

.description {
	font-size: 14px;
	line-height: 1.5;
	color: var(--text);
}

@media screen and (min-width: 1440px) {
	.description {
		font-size: var(--font-small);
	}
}

.info {
	display: grid;
	grid-template-columns: 1fr;
	gap: 18px;
}

@media screen and (min-width: 768px) {
	.info {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.info {
		gap: 40px;
		margin-top: 44px;
	}
}
