.main {
	padding: 16px 0;
}

@media screen and (min-width: 768px) {
	.main {
		padding: 32px 0;
	}
}

@media screen and (min-width: 1440px) {
	.main {
		padding: 48px 0;
	}
}

.abs {
	font-size: var(--font-medium);
	text-align: center;
	padding: 20px;
	color: var(--main);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

@media screen and (min-width: 1440px) {
	.abs {
		font-size: var(--font-large);
	}
}
