.header {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.info {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4px;
}

@media screen and (min-width: 768px) {
	.info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.cTitle,
.price {
	font-weight: 600;
	font-size: var(--font-medium);
	line-height: 1.33333;
	color: var(--main);
}

@media screen and (min-width: 1440px) {
	.cTitle,
	.price {
		font-size: var(--font-large);
	}
}

.cPrice {
	display: flex;
	align-items: center;
	gap: 12px;
}

@media screen and (max-width: 767px) {
	.cPrice {
		justify-self: end;
		order: -1;
	}
}

.cRating {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4px;
	line-height: 1.5;
	color: var(--main);
}

@media screen and (min-width: 768px) {
	.cRating {
		flex-direction: row;
		align-items: center;
		gap: 16px;
	}
}

.rating,
.location {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 14px;
}

@media screen and (min-width: 1440px) {
	.rating,
	.location {
		font-size: var(--font-small);
	}
}

.valueRating {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
