.react-datepicker-popper .react-datepicker {
	font-family: Inter, sans-serif;
	color: var(--main);
	border-color: var(--main);
}

.react-datepicker-popper .react-datepicker__triangle {
	stroke: var(--text);
}

.react-datepicker__current-month {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	color: var(--main);
}

.react-datepicker__navigation-icon::before {
	border-color: var(--main);
}

.react-datepicker__day-names {
	padding: 10px 0;
}

.react-datepicker__day-name {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--text);
}

.react-datepicker__day {
	color: var(--main);
}

.react-datepicker__day:hover {
	background-color: var(--text);
	color: var(--inputs);
	border-radius: 50%;
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
	color: var(--text);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
	background-color: var(--text);
	color: var(--inputs);
	border-radius: 50%;
}

.react-datepicker__day--highlighted {
	background-color: var(--gray-light);
	color: var(--text);
	border-radius: 50%;
}
