.icon {
	width: 16px;
	height: 16px;
	fill: currentColor;
}

@media screen and (min-width: 1440px) {
	.icon {
		width: 32px;
		height: 32px;
	}
}

.small {
	width: 16px;
	height: 16px;
}

@media screen and (min-width: 1440px) {
	.small {
		width: 20px;
		height: 20px;
	}
}

.smallest {
	width: 16px;
	height: 16px;
}

.heart {
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: fill var(--animation-cubicBezier);
}

.heart:hover,
.heart:focus,
.active {
	fill: var(--button);
}

.map {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 14px;
	left: 16px;
}

@media screen and (min-width: 768px) {
	.map {
		width: 20px;
		height: 20px;
		top: 18px;
		left: 20px;
	}
}

.ratingNoStar {
	fill: var(--badges);
	width: 16px;
	height: 16px;
}


.ratingStar {
	fill: var(--stars);
	width: 16px;
	height: 16px;
}